.contenedorForm {
  font-size: 18px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 500;

  width: 280px;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-left: 5px;
}
.requisitos {
  font-size: 18px;
  font-family: "Noto Sans" sans-serif;
  color: green;
  margin-top: 15px;
}
.boton {
  display: flex;
  justify-content: center;
  margin-left: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textoerror {
  font-size: 18px;
  font-family: "Noto Sans" sans-serif;
  margin-top: 10px;
}
.titulo {
  font-size: 25px;
  font-family: "Noto Sans" sans-serif;
  text-decoration: underline blue;
}
