@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700&display=swap");
.footer {
  padding: 2rem 0;
  background-color: /*rgb(27, 2, 87)*/ #2d13a3;
  margin: 0;
  color: white;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.clinicas {
  font-size: 30px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 700;
}
.contenedorClinicas {
  font-size: 18px;
  color: #949494;
  font-family: "Noto Sans" sans-serif;
  font-weight: 500;
}
.redes {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 700;
}

.contenedorRedes {
  margin: 20px;
  display: flex;
  gap: 30px;
}

.logos {
  font-size: 35px;
  color: #acacac;
  cursor: pointer;
  transition: .3s ease;
}
.logos:hover{
  color: #e7e7e7;
  transform: translateY(-2px);
}

.parrafoClinicas {
  text-align: center;
}
